<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        var str = 'avajcyanghyoennkjahdhfkjahsdkfjhkjhtahksdfasd';
        var obj = {};
        var max = 0;

        for (var i = 0; i < str.length; i++) {
            if (obj[str[i]]) {
                obj[str[i]]++;
            } else {
                obj[str[i]] = 1;
            }
        }

        for (var k in obj) {
            if (obj[k] > max) {
                max = obj[k];
            }
            if (obj[k] == max) {
                console.log(k + ':' + max);
            }
        }

        var str = 'http://baidu.com:3000/api/vi/detail?name=yang&age=18&sex=男';

        var arr = str.split('?')[1].split('&');
        var obj = {};
        for (var i = 0; i < arr.length; i++) {
            obj[arr[i].split('=')[0]] = arr[i].split('=')[1];
        }
        console.log(obj);

        var arr2 = str.substr(str.indexOf('?') + 1).split('&');
        var obj2 = {};
        for (var i = 0; i < arr2.length; i++) {
            obj2[arr2[i].split('=')[0]] = arr2[i].split('=')[1];
        }
        console.log(obj2);
    </script>
</body>

</html>